<div class="container">
    <div class="row">
        <div class="col-lg-12 ">
            <h2 class="section-heading text-center">Church Ceremony</h2>
            <hr class="primary">
            <dl class="dl-horizontal lead">
                <dt>When</dt>
                <dd>Saturday, May 21, at 4:00 pm</dd>
                <dt>Where</dt>
                <dd>
                    <address>
                        St. Ägidius Church in Igls<br>
                        <a href="https://goo.gl/maps/SHeqqX1NxWU2vXCP9" target="_blank" rel="noopener noreferrer">
                            Widumweg 4, 6080 Innsbruck-Igls</a>
                    </address>
                </dd>
                <dt>Parking</dt>
                <dd>Parking at the church is limited, but you can park at the reception venue.</dd>
            </dl>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 ">
            <h2 class="section-heading text-center">Reception</h2>
            <hr class="primary">
            <dl class="dl-horizontal lead">
                <dt>When</dt>
                <dd>Saturday, May 21, at 5:30 pm</dd>
                <dt>Where</dt>
                <dd>
                    <address>
                        Congresspark Igls<br>
                        <a href="https://g.page/congresspark-igls?share" target="_blank" rel="noopener noreferrer">
                            Eugenpromenade 2, 6080 Innsbruck-Igls</a>
                        (9 min walk or 2 min drive from the church)
                    </address>
                </dd>
                <dt>Parking</dt>
                <dd>Free parking is available on site.</dd>
            </dl>
        </div>
    </div>
</div>
