<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">FAQ</h2>
            <hr class="primary">
            <h3>How to get to Innsbruck</h3>
            <p>A flight to Innsbruck directly is very beautiful as you will see a lot of mountains but it can be
                quite expensive. There is also the option to fly to Munich and to take the
                <a href="https://tickets.oebb.at/en/ticket">train</a> or
                depending on when you will arrive, an airport taxi. We can recommend
                <a href="https://www.tirol-taxi.at/">fourseasons</a>. Be careful not to book a flight to Munich
                West/Memmingen. There are no trains there.
            </p>
            <hr class="primary">
            <h3>Where to Stay</h3>
            <table class="table table-striped">
                <tr>
                    <th class="col-md-2">Sonnenhof Igls</th>
                    <td>
                        The B&B <a href="https://sonnenhof-igls.at/" target="_blank" rel="noopener noreferrer">
                            Sonnenhof Igls</a> is a 10 min walk away from the venue. It's a smaller house, run by
                        a family and they will be open in May after a big refurbishment..
                    </td>
                </tr>
                <tr>
                    <th>Stage 12</th>
                    <td>
                        The modern hotel <a href="https://www.stage12.at" target="_blank" rel="noopener noreferrer">
                            Stage 12</a> is in the heart of the city, right next to the pedestrian street and all the
                        shops.
                    </td>
                </tr>
                <tr>
                    <th>Nala Individuellhotel</th>
                    <td>
                        The hotel <a href="https://www.nala-hotel.at/" target="_blank" rel="noopener noreferrer">
                            Nala Individuellhotel</a> is very central as well and offers unique rooms with a very
                        special flair.

                    </td>
                </tr>
            </table>
            <p>
                <strong>All 3 options offer a discount if you use the codewort "ckwedding22".</strong>
            </p>
            <hr class="primary">
            <h3>Getting around in Innsbruck</h3>
            <h4>Public transport</h4>
            <p>
                Lorem ipsum...
            </p>
            <h4>Taxi</h4>
            <p>
                Unfortunately there is no Uber in Innsbruck. You can call a taxi +43 512 5311 or +43 512
                206000
            </p>
            <hr class="primary">
            <h3>How to get to the church?</h3>
            <p>
                There is a public bus directly from the city center of Innsbruck to the church. It's line J.
                With the car it's a 15 min drive. There is free car parking at Congresspark.
            </p>
            <hr class="primary">
            <h3>Children</h3>
            <p>
                There will be a special wing at the wedding, where you can breastfeed your baby or where
                the children can play or sleep later on.
            </p>
            <hr class="primary">
            <h3>What else?</h3>
            <p>
                There will be lots of food and drinks, a photographer (so always keep smiling ;-)) and a band
                later in the evening.
                The next morning we will have breakfast at Sonnenhof Igls, please join us if you are in for
                breakfast.
            </p>
        </div>
    </div>
</div>
