{% load static %}
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-lg-4 col-sm-6">
            <div class="portfolio-box page-scroll">
                <img src="{% static 'bigday/images/IMG-20150411-WA0018.jpg' %}" class="img-responsive" alt="">
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="portfolio-box page-scroll">
                <img src="{% static 'bigday/images/IMG-20170604-WA0003.jpg' %}" class="img-responsive" alt="">
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="portfolio-box page-scroll">
                <img src="{% static 'bigday/images/PICT0110.jpg' %}" class="img-responsive" alt="">
            </div>
        </div>

    </div>
</div>
<!-- 20160619_131522 -->
