{% load static %}
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-lg-4 col-sm-6">
            <div class="portfolio-box page-scroll">
                <img src="{% static 'bigday/images/DSC00139.jpg' %}" class="img-responsive" alt="">
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="portfolio-box page-scroll">
                <img src="{% static 'bigday/images/DSC00192.jpg' %}" class="img-responsive" alt="">
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="portfolio-box page-scroll">
                <img src="{% static 'bigday/images/DSC07924.jpg' %}" class="img-responsive" alt="">
            </div>
        </div>

    </div>
</div>
<!-- 20160619_131522 -->
