<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Our Story</h2>
            <hr class="primary">
            <p>
                18 years ago we met with the help of our maid of honour Susanne at a dancing school.
                Since we also went to the same school, we made sure that we saw each other every day
                (there might have been a few too many visits to the vending machine which was where
                everybody met...).
            </p>
            <p>
                The years flew by after the first dance, our first kiss, and our first
                holiday together and we moved into our first flat together in London and found our way in life
                standing side by side. Sometimes we were watching the latest series and sometimes we
                went on an adventure trip.
            </p>
            <p>
                We are lucky that we have such a wonderful family and that we
                made so many friends for life. In 2020 our little Maximilian was born in Vienna, the most
                livable city according to many studies, turning our world upside down and making us smile
                every day.
            </p>
        </div>
    </div>
</div>
